<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <settings>
  <!-- 카멜 케이스 VO 매핑 -->       
  <setting name="mapUnderscoreToCamelCase" value="true"/>
  
  <!-- 캐싱 설정  -->
  <!-- <setting name="cacheEnabled" value="false" /> -->
  <!-- mybatis null 허용 -->
  <setting name="jdbcTypeForNull" value="NULL" />
  </settings>
  <!-- 별칭 설정 -->
  
  
  <typeAliases>
  <!-- member  -->
  <typeAlias type="com.man.ameise.vo.MemberVO" alias="MemberVO"/>
  <typeAlias type="com.man.ameise.vo.RoleVO" alias="RoleVO"/>
  
  <!-- product -->
  <typeAlias type="com.man.ameise.vo.ProductVO" alias="ProductVO"/>
  <typeAlias type="com.man.ameise.vo.RealProductVO" alias="RealProductVO"/>
  <typeAlias type="com.man.ameise.vo.ProductFilesVO" alias="ProductFilesVO"/>
  <typeAlias type="com.man.ameise.vo.OtherFilesVO" alias="OtherFilesVO"/>
  <typeAlias type="com.man.ameise.vo.DivisionVO" alias="DivisionVO"/>
  <typeAlias type="com.man.ameise.vo.CategoryVO" alias="CategoryVO"/>
  
  
  
  
  
  </typeAliases>
  </configuration>