@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit; /* 부모 요소의 옵션을 그대로 상속 */
}

/* font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 공용스타일 */
body{
    font-family: 'Noto Sans KR', sans-serif;
}

.inner{
    width: 1620px;
    margin: 0 auto;
}

.clearfix::after{
    /* float 속성으로 인해 높이값을 인식 못할 경우 높이를 강제로 인식 */
    content: ''; display: block; /* 가상클래스에 필수로 넣어야 하는 속성 */
    clear: both;
}


/* header */
header{
    height: 80px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

header .menubar{
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #c0c0c0;
}
header .header_fix{
    position: fixed !important;
    top: 0; left: 0;
    z-index: 99 !important;
    background: #fff;
    border-bottom: 1px solid #c0c0c0;
}
#headerInner{
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 99;
    transition: all .3s;
}
#headerInner:hover{
    background-color: #fff;
    border-bottom: 1px solid #c0c0c0;
}

.menu_btn{
    padding-left: 20px;
}

.menu_btn .btn{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .2s;
    cursor: pointer;
}

.menu_btn .btn:hover{
    background: #eee;
}

.menu_btn .btn img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

/* sidebar */
.sidebar{
    position: fixed;
    left: -240px;
    top: 0;
    width: 240px;
    height: 100%;
    background: #fff;
    z-index: 98;
    overflow: hidden;
    transition: all .5s;
}
.sidebar.view{
    left: 0px;
    overflow: visible;
    border-right: 1px solid #c0c0c0;
}
.sidebar.click_btn{
    display: none;
}

.sidebar .menu_btn{
    height: 80px;
    padding-top: 15px;
}

.sidebar_inner{
    position: absolute;
    padding: 20px;
}

/* logo */
#logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
}

/* top_member */
#top_member{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-right: 20px;
}
#top_member li{
    margin-right: 10px;
}
#top_member li:first-child{
    margin-right: 15px;
}
#top_member li:last-child{
    margin-right: 0;
}


.mainmenu{
    width: 200px;
    border-bottom: 1px solid #c0c0c0;
}
.mainmenu li{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.mainmenu li:first-child{
    color: #999;
    font-size: 16px;
    padding-left: 10px;
}
.mainmenu li a{
    border-radius: 30px;
    padding: 5px 15px;
    transition: all .2s;
}
.mainmenu li a:hover{
    background-color: #000;
    color: #fff;
}
.other_menu{
    margin-top: 25px;
}
.other_menu li{
    color: #999;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 20px;
}


/* main */
main{
    margin: 0 auto;
}

/*member sign in*/
.member{
    width: 400px;
    /* border: 1px solid #000; */
    margin: auto; /*중앙 정렬*/
    padding: 0 20px;
    margin-bottom: 20px;
}

.member .title{
    margin-top : 50px;
    text-align: center;
    font-size: 32px;
    color: #000;
    padding-bottom: 30px;
}

.member .field{
    margin : 5px 0; /*상하로 좀 띄워주기*/
}

.member p{
    font-size: 11px;
    color: #777;
    padding-bottom: 5px;
}

.member b{
    display: block;
    margin-bottom: 5px;
}


.member input:not(input[type=radio],.field.birth input,input[type=submit]),.member select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 370px;
    margin-bottom: 5px;
}

.member input[type=button],
.member input[type=submit]{
    background-color: #333;
    color: #fff;
}

.member input:focus, .member select:focus{
    border: 1px solid #333;
}

.field.birth div{
    display: flex;
    gap: 10px;
}

.field.birth input,.member input[type=submit]{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.field.tel-number div{
    display: flex;
    gap: 5px;
}
.field.tel-number div input:nth-child(1){
    margin-right: 5px;
}

.field.gender div{
    border: 1px solid #dadada;
    padding: 15px 5px;
    background-color: #fff;
}

.placehold-text{
    display: block; /*span 으로 감싸서 크기영역을 블록요소로 만들어줘야한다*/
    position:relative;
    /* border: 1px solid #000; */
}


.userpw{
    background:url(./images/images2/icon-01.png) no-repeat center right 15px;
    background-size: 20px;
    background-color: #fff;
}

.userpw-confirm{
    background:url(./images/images2/icon-02.png) no-repeat center right 15px;
    background-size: 20px;
    background-color: #fff;
}


/* 이용약관 */
.agree-area{
    margin: 20px 0;
}
.agree-area .box{
    display: flex;
    width: 95%;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
}

.agree-area .check_all h1{
    width: 85px;
    font-weight: bold;
    line-height: 25px;
}
.agree-area #AllChecked{
    width: 20px;
    height: 20px;
    accent-color: #2b2b2b;
    margin-right: 10px;
    line-height: 25px;
}
.agree-area input{
    border: 1px solid #ddd;
}
.agree-area .check_all label{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #777;
}

.agree-area .text h3{
    font-size: 13px;
    font-weight: bold;
}

.agree-area .inbox{
    border: 1px solid #ccc;
    padding: 5px;
}


/* 푸터 */
.member-footer{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.member-footer div{
    margin-bottom: 10px;
}

.member-footer div a:hover{
    text-decoration: underline;
    color:#333
}

.member-footer div a:after{
    content:'|';
    font-size: 10px;
    color:#bbb;
    margin-right: 5px;
    margin-left: 7px;
    /*살짝 내려가 있기 때문에 위로 올려주기 위해 transform 사용하기*/
    display: inline-block;
    transform: translateY(-1px);

}

.member-footer div a:last-child:after{
    display: none;
}

@media (max-width:768px) {
    .member{
        width: 100%;
    }
}