<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.man.ameise.dao.MemberDAO">
	  <select id="getMemberList" resultType="MemberVO">
	  select * from MEMBER
	  
	  </select>
	  <!-- id 중복검사 -->
	  <select id="idDuplicateCheck" resultType="MemberVO" parameterType="MemberVO">
		SELECT account_id FROM MEMBER WHERE account_id=#{accountId}
	</select>
	  <select id="getMemberLogin" parameterType="MemberVO"
		resultMap="getLoginResult">
		select m.id as m_id,m.account_id
		,m.password ,m.status,m.join_type,r.id
		as r_id, r.name as r_name from `MEMBER` m
		inner join
		MEMBERROLE mr
		on m.id =mr.member_id
		INNER JOIN
		`ROLE` r
		on
		mr.role_id =r.id
		where account_id =#{accountId}
	</select>
	<!-- 1. Login -->
	<resultMap type="MemberVO" id="getLoginResult">
		<id property="id" column="m_id" />
		<result property="accountId" column="account_id" />
		<result property="password" column="password" />
		<result property="status" column="status" />
		<result property="joinType" column="join_type" />
		<collection property="roleVOs" javaType="List"
			ofType="RoleVO">
			<id property="id" column="r_id" />
			<result property="name" column="r_name" />
		</collection>
	</resultMap>
	<!-- 일반 회원가입 -->
	  <insert id="setMemberJoin" parameterType="MemberVO">
	  <selectKey keyProperty="id" resultType="Long" order="AFTER">
			select
			id from `MEMBER` where id=(SELECT MAX(id) from `MEMBER`)
		</selectKey>
	  insert into `MEMBER`(account_id,password,name,birth_date,phone,marketing,join_type,reg_date,update_date,login_date,status,e_mail)
	   VALUES(#{accountId},#{password},#{name},#{birthDate},#{phone},#{marketing},#{joinType},now(),now(),now(),1,#{eMail})
	  </insert>
	  <!-- member별 ROLE추가 -->
	  <insert id="setMemberRole" parameterType="Map">
		INSERT INTO MEMBERROLE
		(role_id, member_id)
		VALUES(#{roleId}, #{memberId})
	</insert>
  </mapper>